@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700|Vesper+Libre:400,500,700,900');

body {
	font-family: 'Quicksand', sans-serif;
	margin: 0;
	background-color: #FCFCFC;
}

.container {
	margin: 0 auto;
	margin-top: 50px;
	width: 800px;
}

.card1 {
	position: relative;
	margin: 0 auto;
	background-color: #F7F7F7;
	padding: 15px;
	max-width: 50%;
	border-radius: 5px;
}

.form-control {
	background-color: #fff; 
}

.card2 {
	position: relative;
	margin: 0 auto;
	margin-top:35px;
	background-color: #F7F7F7;
	padding: 15px;
	max-width: 50%;
	border-radius: 5px;
}

h1 {
	color: #000022;
	border-radius: 5px;
	font-size: 2.5em;
	font-weight: 300;
	padding: 5px;
	min-width: 10%;
	text-align: center;
	margin-top: 25px;
	display: inline-block;
}

.list-sash {
	background-color: #F2F2F2;
	border: 1px solid #F2F2F2;
	border-radius: 3px;
	color: #;
	font-size: 1.4em;
	font-weight: 500;
	width: 300px;
	height: 35px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 15px;
	list-style-type: none;
	text-transform: capitalize;
}

ul li:first-child {
	margin-top: 25px;
}

ul li:hover {
	background-color: #C9FFE2;
	border: 1px solid #C9FFE2;
}

ul li.checked {
	background-color: #C9FFE2;
	color: grey;

}

ul li.checked::before {
    content: '';
    font-size: .1em;
    position: absolute;
    border-color: #7DD181;
    border-style: solid;
    border-width: 0 4px 4px 0;
    top: 7px;
    left: 240px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

#itemSubmit {
	text-transform: uppercase;
	font-weight: 600;
	font-size: .9em;
	background-color: #7DD181;
	border: 1px solid #7DD181;
	color: #050517;
}

#itemSubmit:hover {
	color: #fff;
	background-color: #050517;
	border: 1px solid #050517;
}


.btn-danger {
	text-transform: uppercase;
	font-weight: 600;
	font-size: .9em;
	background-color: #7DD181;
	border: 1px solid #7DD181;
}

.btn-danger:hover {
	color: #fff;
	background-color: #050517;
	border: 1px solid #050517;
}

.btn-close {
	background-color: #7DD181;
	font-family: 'Quicksand', sans-serif;
	font-weight: 800;
	height: 22px;
}

.btn-close:hover {
	background-color: #050517;
	color: #fff;
	font-family: 'Quicksand', sans-serif;
	font-weight: 800;
}

#clearBtn {
	margin-top: 15px;
	text-transform: uppercase;
	font-weight: 600;
	font-size: .9em;
	background-color: #7DD181;
	border: 1px solid #7DD181;
	margin-bottom: 35px;
}

#clearBtn:hover {
	color: #fff;
	background-color: #050517;
	border: 1px solid #050517;
}

.printThisBtn {
	margin-top: 15px;
	text-transform: uppercase;
	font-weight: 600;
	font-size: .9em;
	background-color: #7DD181;
	border: 1px solid #7DD181;
	margin-bottom: 35px;	
}

.printThisBtn:hover {
	color: #fff;
	background-color: #050517;
	border: 1px solid #050517;
}

input #todo {
    border: none;
    width: 85%;
    padding: 10px;
    font-size: 16px;
}